footer {
    background-color: #CCBD89;
    color: #332904;
    padding: 10px;
}

footer.grid-con {
    margin-top: 25px;
}

.footerLogo, .footerAddress p, .footerNumber, .copyright, .footerPrivacy p, .footerTerms p {
    text-align: center;
}

.footerLogo, .footerAddress, .footerNumber, .copyright {
    margin-bottom: 15px;
}

.footerQuickLinks, .footerSocialMedia {
    display: none;

    h2 {
        margin-bottom: 15px;
    }

    ul {
        list-style-type: none;

        li {
            margin-bottom: 5px;

            a {
                text-decoration: none;
                color: #332904;
            }
        }
    }
}



@media screen and (min-width: 768px) {
    .footerLogo, .footerAddress p, .footerNumber, .copyright {
        text-align: left;
    }

    .footerQuickLinks, .footerSocialMedia {
        display: block;
    }
}