header.grid-con {
    margin-bottom: 25px;
}

h1 {
    color: #332904;
}

.menuIcon {
    width: 45px;
}

.navMenu {
    position: relative;
    background-color: #CCBD89;
    padding: 35px 15px 35px 25px;
}

.hamburgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinks {
    display: none;
    position: absolute;
    top: 140px;
    align-items: center;
    justify-content: center;

    width: 300px;
    background-color: #332904;
    box-shadow: 3px 3px 3px rgba(0,0,0, 0.5);
    padding: 50px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        list-style-type: none;

        li {
            a {
                text-decoration: none;
                color: #CCBD89;
                 
                &:hover {
                    color: #FFFFFF;
                }
            }
        }
    }
}

.searchBar {
    width: 240px;
    padding: 10px;
    background-color: #332904;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .searchIcon {
        width: 25px;
    }

    .cartIcon {
        width: 25px;
    }

    input {
        width: 145px;
        height: 25px;
        border: none;
        background-color: transparent;
        color: #CCBD89;
        border-right: 1px solid #CCBD89;
        padding-left: 5px;
    }

    input::placeholder {
        color: #CCBD89;
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff;

        p {
            color: #CCBD89;
        }
    }

}

@media screen and (min-width: 768px) {
    .hamburgerMenu {
        display: none;
    }

    .navLinks {
        display: flex;
        justify-content: left;
        position: static;
        background-color: transparent;
        padding: 0px;
        width: auto;
        box-shadow: none;

        ul {
            flex-direction: row;

            li {
                a {
                    text-decoration: none;
                    color: #332904;
                    
                    &:hover {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .searchBar {
        width: 500px;

        input {
            width: 300px;
        }
    }
}

