header.grid-con {
    margin-bottom: 25px;
}

.menuIcon {
    width: 45px;
}

.navMenu {
    background-color: #D9D9D9;
    padding: 35px 15px 35px 25px;
}

.hamburgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinks {
    display: none;
    align-items: center;

    ul {
        display: flex;
        gap: 25px;
        align-items: center;
        list-style-type: none;

        li {
            a {
                text-decoration: none;
                color: #4B4B4B;
                 
                &:hover {
                    color: #FFFFFF;
                }
            }
        }
    }
}

.searchBar {
    width: 240px;
    padding: 10px;
    background-color: #898989;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .searchIcon {
        width: 25px;
    }

    .cartIcon {
        width: 25px;
    }

    input {
        width: 145px;
        height: 25px;
        border: none;
        background-color: transparent;
        color: #ffffff;
        border-right: 1px solid #FFFFFF;
    }

}

@media screen and (min-width: 768px) {
    .hamburgerMenu {
        display: none;
    }

    .navLinks {
        display: flex;
    }
}

