.hero-section.grid-con {
    margin-top: 25px;
    margin-bottom: 25px;
}

.hero-section {
    padding: 20px;
    background-image: url(/images/hero/hero-0.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 3/1;

    .hero-section-cta {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            font-size: 12px;
            color: #FFFBED;
        }

        h2 {
            font-size: 25px;
            color: #332904;
        }

        a {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 142px;
            height: 32px;
            border: none;
            border-radius: 15px;
            background-color: #332904;
            color: #CCBD89;
        }
    }

}


.bannerImageCon.grid-con {
    margin-top: 25px;
    margin-bottom: 25px;

    .bannerImage {
        width: 100%;
        max-width: 100%;
    }
}


.bestSellerCon {
    display: flex;
    padding: 0px 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}


.imageGrid.grid-con {
    display: none;
    margin-top: 25px;
    margin-bottom: 25px;

    .imageGridImg {
        width: 100%;
        max-width: 100%;
    }
}

.carousel {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;

    .carouselImg {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carouselBtns {
        position: absolute;
        bottom: 50px;
        left: 37%;

        display: flex;
        flex-direction: row;
        gap: 10px;

        input[type="radio"] {
            width: 18px;
            height: 18px;
            accent-color: #913f26;
            cursor: pointer; 
        }
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        background-size: cover;

        .hero-section-cta {
            gap: 25px;

            p {
                font-size: 12px;
            }

            h2 {
                font-size: 45px;
            }
        }
    }

    .carousel {
        display: none;
    }

    .imageGrid.grid-con {
        display: grid;
    }

}

@media screen and (min-width: 1200px) {
    .hero-section {
        .hero-section-cta {
            gap: 25px;

            p {
                font-size: 20px;
            }

            h2 {
                font-size: 65px;
            }
        }
    }
}