.hero-section.grid-con {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    background-color: #D9D9D9;

    .hero-section-cta {
        display: flex;
        flex-direction: column;
        gap: 25px;

        p {
            font-size: 12px;
        }

        h2 {
            font-size: 45px;
        }

        button {
            width: 142px;
            height: 32px;
            border: none;
            border-radius: 15px;
            background-color: #6B6B6B;
            color: #FFFFFF;
            cursor: pointer;
        }
    }

    .verticalImages {
        position: relative;
        padding-left: 20px;
        display: none;
        grid-row: span 2;

        .image1 {
            width: 223px;
            height: 425px;
            border-radius: 15px;
            background-color: #767676;
            margin-bottom: 45px;
        }

        .image2 {
            position: absolute;
            bottom: 5px;
            left: 125px;

            width: 195px;
            height: 209px;
            border: 1px solid #FFFFFF;
            border-radius: 15px;
            background-color: #767676;
        }
    }

    .horizontalImages {
        div {
            width: 358px;
            height: 121px;
            border-radius: 15px;
            background-color: #635F5F;
            margin-top: 30px;
        }
    }

}



.bannerImageCon.grid-con {
    margin-top: 25px;
    margin-bottom: 25px;

    .bannerImage {
        width: 100%;
        max-width: 100%;
        height: 250px;
        background-color: #9b9898;
    }
}


.bestSellerCon {
    display: flex;
    padding: 0px 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}


.imageGrid.grid-con {
    display: none;
    margin-top: 25px;
    margin-bottom: 25px;

    .imageGridImg {
        width: 100%;
        max-width: 100%;
        height: 364px;
        background-color: #8B8989;
    }
}

.carousel {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;

    .carouselImg {
        width: 100%;
        max-width: 100%;
        height: 364px;
        background-color: #8B8989;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carouselBtns {
        position: absolute;
        bottom: 50px;
        left: 37%;

        display: flex;
        flex-direction: row;
        gap: 10px;

        input[type="radio"] {
            width: 18px;
            height: 18px;
            accent-color: #913f26;
            cursor: pointer; 
        }
    }
}

@media screen and (min-width: 768px) {
    .hero-section.grid-con {

        .verticalImages {
            display: block;
        }

    }

    .carousel {
        display: none;
    }

    .imageGrid.grid-con {
        display: grid;

        .imageGridImg {
            height: 180px;
        }
    }

}

@media screen and (min-width: 1200px) {
    .hero-section.grid-con {
        .horizontalImages {
            div {
                width: 636px;
                height: 200px;
            }
        }
    }

    .imageGrid.grid-con {
        display: grid;

        .imageGridImg {
            height: 289px;
        }
    }
}