.newsletterBckg {
    background-color: #998748;
    padding: 25px;

    h2 {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #332904;
    }

    .newsletterInputCon {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
            width: 270px;
            height: 60px;
            border: 1px solid #CCBD89;
            border-radius: 10px;
            padding: 10px;
            background-color: #332904;
            color: #CCBD89;
        }

        input::placeholder {
            color: #CCBD89;
        }

        button {
            width: 97px;
            height: 40px;
            border: none;
            border-radius: 10px;
            background-color: #332904;
            color: #CCBD89;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    .newsletterBckg {

        h2 {
            margin-bottom: 0px;
        }

        .newsletterInputCon {
            flex-direction: row;
            align-items: center;
            background-color: #332904;
            border-radius: 10px;
            padding: 10px;
            gap: 5px;

            input {
                width: 300px;
                height: 40px;
                border: none;
                border-radius: 0px;
                border-right: 1px solid #CCBD89;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .newsletterBckg {

        .newsletterInputCon {
            
            input {
                width: 415px;
            }
        }
    }
}