.filterIcon {
    width: 38px;
}

.productCon {
    display: flex;
    padding: 0px 20px;
    flex-wrap: wrap;
    gap: 48px;
}

.productCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 162px;
    margin-bottom: 20px;

    .productImg {
        width: 162px;
        background-color: #D9D9D9;
        border-radius: 10px;
    }

    .productDetails {
        display: flex;
        justify-content: space-between;
    }

    .productColours {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        .colour {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #828181;
        }
    }

    .addCartBtn {
        width: 142px;
        height: 35px;
        background-color: #332904;
        color: #CCBD89;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}

.tabFilter {
    display: none;
    background-color: #CCBD89;
    padding: 10px;
}

details {
    margin-bottom: 15px;

    summary {
        background-color: #332904;
        color: #CCBD89;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 22px;
    }

    .filterCatCon {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 15px;
        padding-left: 15px;
    }
    
}

@media screen and (min-width: 768px) {
    .mobFilter {
        display: none;
    }

    .tabFilter {
        display: block;
    }

    .productCon {
        gap: 10px;
        padding: 0px;
    }

    .productCard {
        width: 278px;

        .productImg {
            width: 278px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .productCon {
        padding-left: 25px;
    }
}